
body {
    font-family: sans-serif;
    font-size: 16px;
}

#editor {
    .status {
        background: #7BB87B;
        text-shadow: 1px 1px 1px darken(#7BB87B, 20%);
        color: white;
        padding: 4px 8px;

        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;

        &.error {
            background: #C25353;
            text-shadow: 1px 1px 1px darken(#C25353, 10%);
        }

        &.loading {
            background: #E9D674;
            text-shadow: 1px 1px 1px darken(#E9D674, 30%);
        }
    }


    .has_error {
        background: rgba(255,0,0, 0.2);
    }

    .result {
        border: 1px solid silver;
        background: white;

        color: #444;
        margin: 10px 0;

        .value {
            margin: 5px;
            padding:  5px;
            display: inline-block;
            vertical-align: top;

            &.string {
                color: #648164;
                &:before {
                    font-weight: bold;
                    content: '"';
                }

                &:after {
                    font-weight: bold;
                    content: '"';
                }
            }

            &.boolean {
                color: #664B66;
            }

            &.number {
                color: #5076A0;
            }

            &.key {
                margin-right: 0;
                padding-right: 0;
            }

            &:hover {
                background: #eee;
                border-radius: 3px;
            }

            &.expanded {
                border-left: 1px dashed silver;
                margin-left: 10px;
                padding: 0;

                &:hover {
                    background: white;
                }
            }
        }

        .sep {
            padding: 5px 0;
            font-weight: bold;
            display: inline-block;
        }

        .tuple {
            margin-left: 10px;
            & > .value {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .expandable {
            cursor: pointer;
            font-weight: bold;
        }

        .closable {
            font-weight: bold;
            vertical-align: top;
            display: inline-block;
            cursor: pointer;
            padding: 5px;
            margin: 5px;

            &:first-child {
                margin-bottom: 0;
            }

            &:last-child {
                margin-top: 0;
            }

            &:hover {
                background: #eee;
                border-radius: 3px;
            }
        }

        .queries {
            font-family: monospace;
            background: #ddd;
            .query {
                padding: 5px;
            }
        }
    }

}
